@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 16pt;
    color: #333;
    background-color: #f7f7f7;
}

.nes-container.with-title > .title {
    display: block;
    padding: 0.5rem;
    margin: -1.8rem 0 1rem;
    background-color: #f7f7f7;
}

.nes-container.with-title > .title > span {
    background-color: white;
    padding: 0.2rem 0.5rem;
    color: black;
    border-radius: 3px;
    margin-left: 10px;
}

.parent-container {
    display: flex;
    height: 100%;
    width: 70%;
    max-width: 1200px;
    min-width: 680px;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

.sidebar {
    padding: 1rem;
    margin: 2rem 0;
    width: 300px;
    text-align: center;
    border-right: 4px solid black;
    background-color: #f7f7f7;
}

.main-area {
    width: 100%;
    padding: 1rem;
    padding-left: 2rem;
    margin: 2rem 0;
}

.title-p {
    margin-right: -30px;
}

.title {
    font-size: 2rem;
}

.nav-bar {
    list-style: none;
    width: 100%;
    padding: 0;
}

.nav-li {
    width: 100%;
}

.nav-li.is-primary {
    background-color: black;
    color: #fff;
}

.nav-li.is-primary:focus {
    box-shadow: 0 0 0 3px black !important;
}

/* feed posts arrangement */

.post-arrangement {
    display: flex;
    flex-wrap: wrap;
}

.vote-icons {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.vote-icons > p {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.vote-icons > p > span {
    color: chocolate;
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.3s;
}

.nes-container.is-post {
    position: relative;
    margin: 10px;
    margin-bottom: 20px;
    color: #333;
    background-color: #fff;
    border-color: chocolate;
    border-radius: 5px;
    flex: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* add submission box */

.postbox-area.is-dark {
    background-color: white !important;
    color: black;
}

.submit-btn {
    width: 10rem;
    padding: 1rem;
    display: block;
    margin-bottom: 30px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#resp-msg {
    margin-top: 1rem;
    color: #333;
}

.history-feed {
    border: none !important;
    border-top: 0.3rem solid chocolate !important;
    margin-top: 0rem;
    background-color: #fff;
}

.history-feed > .title {
    display: block;
    padding: 0.5rem;
    margin: -1.6rem 0 1rem;
    font-size: 1.5rem;
    background-color: #f7f7f7;
    color: #333;
}